@model List<Product>
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ms-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white ps-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body mb-1 p-4 pb-5">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-action="Create" asp-controller="Product" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Product
                </a>
            </div>
        </div>

        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        ISBN
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        ListPrice
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>
                            @obj.Title
                        </td>
                        <td>
                            @obj.ISBN
                        </td>
                        <td>
                            @obj.Author
                        </td>
                        <td>
                            @obj.ListPrice
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-action="ViewDetails" asp-controller="Product" asp-route-id="@obj.Id" class="btn btn-secondary mx-1 px-2">
                                    <i class="bi bi-eye"></i>
                                </a>
                                <a asp-action="Edit" asp-controller="Product" asp-route-id="@obj.Id" class="btn btn-secondary mx-1 px-2">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a asp-action="Delete" asp-controller="Product" asp-route-id="@obj.Id" class="btn btn-secondary mx-1 px-2">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


